button {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  padding: var(--sm) var(--md);
  color: var(--text-white);
  background-color: var(--accent);
  border: none;
  border-radius: var(--xs);
  font-size: var(--font-size-small);
  height: 37px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: var(--xs);

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }

  &[flat] {
    background-color: transparent;
    color: var(--accent);
  }

  & i.icon {
    font-size: var(--icon-size-small);
    height: var(--icon-size-small);
    width: var(--icon-size-small);
  }
}
