// Variables
@import './_variables.scss';

// HTML style overrides
@import './input.scss';
@import './button.scss';
@import './typography.scss';
@import './link.scss';

html {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

// Custom component styles
@import './page.scss';
@import './login.scss';
@import './icon.scss';

#app {
  font-family: var(--font-family);
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}
